<div class="navbar">
    <img class="logo-img" src="{{ url_for('static', filename='images/default_logo.png') }}" />
    <span class="menu">&#9776;</span> <!-- Icon -->
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>

        <a href="{{ url_for('dashboard') }}">Dashboard</a>

        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Account</a>
            <div class="dropdown-content">
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('settings') }}">Settings</a>
                <a id="sign-out-btn" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>

    </div>
</div>
